.root {
    composes: flexColumnCentered from '~global.module.css';
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100vw;
    font-family: Spartan;
    font-size: calc(1rem + 2vmin);
    background-color: white;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    padding: 12vh 12vw;
    visibility: hidden;
    z-index: 1;
    box-sizing: border-box;
}

.title, .name {
    z-index: 1;
}

.description {
    font-size: calc(0.75rem + 2vmin);
    text-align: center;
}

.closeButton {
    composes: flexColumnCentered from '~global.module.css';
    composes: plainButton from '~global.module.css';
    background-color: transparent;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: calc(2rem + 3vmin);
    height: calc(4rem + 3vmin);
    width: calc(4rem + 3vmin);
}