.root {
    --card-side: 25vmin;
    composes: flexColumnCentered from '~global.module.css';
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
    height: var(--card-side);
    width: var(--card-side);;
    border: none;
    font-family: Spartan;
    cursor: pointer;
    font-size: calc(0.25rem + 2vmin);
    outline: none;
    background-color: white;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    transition: transform 100ms;
}

.root:hover {
    transform: scale(1.1);
}