.flexColumnCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.invisible {
  display: none;
}

.plainButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.plainButton:focus {
  outline: none;
}